# Database Configuration
DBURI=mongodb+srv://bashairfan518:Irfan86101@cluster0.hwcnddm.mongodb.net/ekomart?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET_KEY=TN3TY7aH4qVFwRgJHvlsmaATH8RrrTBH

# Cloudinary Configuration
CLOUD_NAME=drukumhal
CLOUD_API_KEY=517746727976313
CLOUD_API_SECRET_KEY=EZmCUOotMuHeSwTx79ro8vuzt3k

# Razorpay Configuration
KEY_ID=your_razorpay_key_id
KEY_SECRET=your_razorpay_key_secret

# Server Configuration
PORT=5000
NODE_ENV=production
